/* CUSTOM PROPERTIES */
:root{
    --text-color: #212121;
    --font-family: "Montserrat", "Arial", sans-serif;
}

/* FONTS */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat-v15-latin_cyrillic-300.woff2') format('woff2'), 
        url('../fonts/montserrat-v15-latin_cyrillic-300.woff') format('woff'); 
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'), 
        url('../fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff'); 
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v15-latin_cyrillic-600.woff2') format('woff2'), 
        url('../fonts/montserrat-v15-latin_cyrillic-600.woff') format('woff'); 
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v15-latin_cyrillic-700.woff2') format('woff2'), 
        url('../fonts/montserrat-v15-latin_cyrillic-700.woff') format('woff'); 
}

html{
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: var(--text-color);
    overflow-x: hidden;
}
.container{
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}
.site-header{
    margin: 0 auto;
    background-color: #F0F5FB;
    padding-top: 25px;
    margin-bottom: 140px;
}
.header-container{
    display: flex;
    align-items: center;
}
.sitenav-list{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sitenav-item:not(:last-child){
    margin-right: 40px;
}
.sitenav-link{
    text-decoration: none;
    color: var(--text-color);
}
.sitenav-link:hover{
    text-decoration: underline;
}
.site-logo{
    margin-left: auto;
    margin-right: auto;
}
.site-contact{
    display: flex;
    align-items: center;
}
.daily-time{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-right: 70px;
}
.daily-time::before{
    content: "";
    background-image: url("/img/icon-point.svg");
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    margin-right: 9px;
}
.phone-link{
    position: relative;
    margin: 0;
    padding: 0; 
}
.phone-link::before{
    content: "";
    position: absolute;
    left: -35px;
    top: -3px;
    background-image: url("/img/icon-phone.svg");
    background-size: contain;
    width: 33px;
    height: 30px;
}
.phone-link{
    text-decoration: none;
    font-weight: 700;
    color: var(--text-color);
}
.phone-link::after{
    content: "";
    position: absolute;
    right: -75px;
    top: -7px;
    background-image: url("/img/crab.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 52px;
    height: 75px;
}

.top-section{
    position: relative;
    background-image: url("/img/icons.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1437px;
    margin: 0 auto;
    padding-bottom: 560px;
}
.top-section::before{
    content: "";
    position: absolute;
    right: 350px;
    top: 270px;
    background-image: url("/img/pizza.png");
    width: 690px;
    height: 630px;
}
.top-section-title{
    margin: 0;
    margin-bottom: 18px;
    padding: 0;
    padding-top: 105px;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
}

.top-section-link::before{
    content: "";
    position: absolute;
    top: 472px;
    right: 511px;
    background-image: url("/img/plus.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
}
.top-section-text{
    max-width: 622px;
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
}
.top-section-order-text{
    position: absolute;
    right: 150px;
    top: 390px;
    max-width: 200px;
    text-align: right;
}
.bg-text-span{
    color: #F87848;
}

/* MAIN */

.dishes-section{
    position: relative;
}
.dishes-section::before{
    content: "";
    position: absolute;
    top: 60px;
    left: -130px;
    background-image: url("/img/bone.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 153px;
    height: 88px;
}
.dishes-section::after{
    content: "";
    position: absolute;
    bottom: -250px;
    right: -230px;
    background-image: url("/img/bone2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 198px;
    height: 149px;
    opacity: 0.1;
}
.pizza-shopping-link{
    margin: 0;
    padding: 0;
    position: absolute;
    display: block;
    top: -100px;
    right: -110px;
}
.dishes-title{
    margin: 0;
    margin-bottom: 49px;
    padding: 0;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: var(--text-color);
}
.dishes-list{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 60px;
}
.dishes-link{
    margin-right: 31px;
    padding: 17px 40px;
    background: linear-gradient(0deg, #ECEEF6, #ECEEF6);
    border-radius: 45px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: var(--text-color);
}
.dishes-link:hover{
    background: #59AAF1;
    color: #ffffff;
}

.pizza-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 66px;
    padding: 0;
    list-style: none;
}
.pizza-item{
    position: relative;
    max-width: 216px;
    padding: 20px;
    padding-top: 36px;
    margin-bottom: 50px;
    margin-right: 20px;
    border: 2px solid #ECEEF7;
    border-radius: 15px;
    background: #FFFFFF;
    z-index: 4;
}
.pizza-item::after{
    position: absolute;
    background-color: #FFFFFF;
    width: 50px;
    height: 50px;
    content: "";
    border-radius: 0 0 25px 0 ;
    border-right: 2px solid #eceef7;
    border-bottom: 2px solid #eceef7;
    transform: rotate(45deg);
    bottom: -27px;
    left: 103px;
    z-index: -4;
}
.di-mare,
.last-pizza{
    margin-right: 0;
}
.kvatro-pizza,
.formadjio-pizza,
.kvatro-formadjio,
.last-pizza{
    margin-bottom: 0;
}
.pizza-item::before{
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 170px;
    height: 173px;
    margin: 20px;
    margin-bottom: 30px;
    margin-top: 0;
    transition: transform 0.7s ease;
}
.quatro-pizza::before{
    background-image: url("/img/quatro.png");
}
.karbonara-pizza::before{
    background-image: url("/img/karbonara.png");
}
.filadelfiya-pizza::before{
    background-image: url("/img/filadelfiya.png");
}
.xit-pizza{
    position: absolute;
    top: 5px;
    left: 19px;
    padding: 3px 18px;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(116.88deg, #FE3326 -4.28%, #F26E0E 112.69%), #59AAF1;
    box-shadow: 0px 4px 8px rgba(205, 71, 41, 0.26);
    border-radius: 3px;
}
.di-mare::before{
    background-image: url("/img/di-mare.png");
}
.kvatro-pizza::before{
    background-image: url("/img/kvatro.png");
}
.formadjio-pizza::before{
    background-image: url("/img/kvatro2.png");
}
.kvatro-formadjio::before{
    background-image: url("/img/kvatro3.png");
}
.last-pizza::before{
    background-image: url("/img/kvatro4.png");
}
.pizza-item:hover.pizza-item::before{
    transform: rotate(90deg);
}
.pizza-item-title-link{
    text-decoration: none;
}
.pizza-item-title{
    display: inline;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: var(--text-color);
}
.pizza-item-title:hover{
    color: rgba(33, 33, 33, 0.525);
}
.pizza-list-span{
    position: absolute;
    bottom: 131px;
    right: 15px;
    font-size: 12px;
    line-height: 140%;
    color: var(--text-color);
}
.pizza-recipe-text{
    margin-top: 8px;
    margin-bottom: 19px;
    padding: 0;
    font-size: 12px;
    line-height: 140%;
    color: var(--text-color);
}
.pizza-price{
    margin: 0;
    margin-bottom: 18px;
    padding: 0;
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #121146;
}
.pizza-order-link{
    position: absolute;
    bottom: -15px;
    right: 42%;
    padding: 10px;
    border: 2px solid #ECEEF7;
    border-radius: 59px;
    background-color: white;
    cursor: pointer;
}
.pizza-order-link::before{
    content: "";
    display: block;
    background-image: url("/img/basket.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 12px;
    height: 12px;
}
.pizza-order-link:hover{
    position: absolute;
    bottom: -15px;
    right: 42%;
    padding: 10px;
    border: none;
    border-radius: 59px;
    background: linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%);
    cursor: pointer;
}
.pizza-order-link:hover.pizza-order-link::before{
    content: "";
    display: block;
    background-image: url("/img/w-basket.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 12px;
    height: 12px;
}


.site-update{
    display: flex;
    justify-content: center;
}
.site-update-link{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 17px;
    margin-bottom: 183px;
    background: linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%);
    box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
    border-radius: 59px;
}
.site-update-link::before{
    content: "";
    top: -5px;
    background-image: url("/img/update.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    transition: transform 0.4s ease;
}
.site-update-link:hover{
    background:  rgba(254, 85, 38, 0.753);
}
.site-update-link:active.site-update-link::before{
    transform: rotate(180deg);
}
.site-update-link::after{
    content: "";
    position: absolute;
    top: 30px;
    left: -720px;
    background-image: url("/img/cabbage.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 184px;
    height: 188px;
}
.gallery-section{
    max-width: 1760px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
    margin-bottom: 127px;
    background-image: url("/img/bg-photos.png");
    background-repeat: no-repeat;
    background-position: center ;
}
.instagram-box{
    max-width: 480px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(45.04deg, #FD9924 -51.05%, #F65B16 134.89%);
    box-shadow: 0px 70px 90px rgba(253, 55, 36, 0.2), 0px 35px 50px rgba(253, 55, 36, 0.2), 0px 20px 25px rgba(253, 55, 36, 0.2);
    border-radius: 15px;
}
.instagram-link-box{
    padding: 55px;
    text-align: center;
    border: 2px solid #ffffff3b;
    border-radius: 15px;
}
.instagram-span-text{
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #ffffff;
}
.instagram-link{
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.form-section{
    position: relative;
    background-color: #F0F5FB;
}
.section-container{
    max-width: 1855px;
    position: relative;
    margin: 0 auto;
    padding-top: 82px;
    padding-bottom: 242px;
    background-image: url("/img/vegitable.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.form-section-title{
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 42px;
    font-weight: bold;
    font-size: 48px;
    line-height: 150%;
    text-align: center;
    color: var(--text-color);
}
.filling-form{
    text-align: center;
}
.filling-form-input{
    margin-right: 40px;
    padding: 20px;
    background-color: #FFFFFF;
    border: 2px solid #ECEEF7;
    box-sizing: border-box;
    border-radius: 57px;
}
.filling-form-phone-input{
    margin-right: 40px;
    padding: 20px;
    background: #FFFFFF;
    border: 2px solid #ECEEF7;
    box-sizing: border-box;
    border-radius: 57px;
}
.filling-form-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    padding: 20px;
    border: none;
    background: linear-gradient(180deg, #FE5626 0%, #F23F0E 100%), #59AAF1;
    box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
    border-radius: 59px;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}
.filling-form-btn::after{
    content: "";
    display: block;
    background-image: url("/img/arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 42px;
    height: 9px;
    margin-left: 25px;
}
.car-img{
    position: absolute;
    bottom: -65px;
    left: 50%;
    transform: translateX(-50%);
}
.site-footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 33px;
    padding-bottom: 33px;
}
.copyright-text{
    font-size: 16px;
    line-height: 140%;
    color: var(--text-color);
}
.author-text{
    font-size: 16px;
    line-height: 140%;
    text-align: right;
    color: var(--text-color);
}
.author-text-span{
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    text-align: right;
    color: var(--text-color);
}
.point-span{
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    color: red;
}
